/* .flex-container {
    padding: 0;
    margin: 3%;
    list-style: none;
    display: flex;
    
  }*/

.resimler {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .flex-container {
    -webkit-flex-flow: row wrap;
  }
  .familyImages img {
    display: block;
    width: 50%;
    text-align: -webkit-center;
  }
  .familyImages {
    text-align: -webkit-center;
  }
  .familyImages1 img {
    display: block;
    float: right;
  }
  .familyImages1 {
    text-align: -webkit-center;
    margin: 0;
  }
}
